.section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0.5rem;
}

.preview_title {
  width: 100%;
  color: #000;
  resize: none;
  border: none;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  padding: 1rem;
}

.preview_title:focus {
  outline: none;
}

.preview_content {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
