.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.button_text {
  color: #868e96;
  font-size: 0.875rem;
}
