.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.reply_count {
  font-size: 1.125rem;
  font-weight: 500;
  width: 100%;
}

.reply_input_area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reply_input {
  resize: none;
  border: none;
  border-radius: 4px;
  outline: 1px solid #f1f3f5;
  width: 90%;
  height: 100px;
  padding: 15px 20px;
  font-size: 1rem;
  font-family: var(--font-noto-kr);
}

.reply_input:focus {
  outline: 1px solid #000;
}
