.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 50px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1155px;
}

.span {
  font-size: 30px;
}
