.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1155px;
}

.span {
  font-size: 30px;
}
