.sign_button {
  outline: none;
  border: none;
  font-size: 12px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: var(--primary-color-3);
  color: #fff;
  font-weight: 600;
}

.sign_button:hover {
  background-color: var(--primary-color-4);
}
