.sign_button {
  outline: none;
  border: none;
  font-size: 14px;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: var(--primary-color-3);
  color: #fff;
}

.sign_button:hover {
  background-color: var(--primary-color-4);
}
