.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.write_button {
  background-color: #52796f;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 14px;
}

.write_button:hover {
  background-color: #2f3e46;
  color: #fff;
}

.avatar {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
