.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.write_button {
  background-color: var(--primary-color-3);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
}

.write_button:hover {
  background-color: var(--primary-color-5);
  color: #fff;
}

.user_session {
  position: relative;
}

.avatar {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border: 1px solid #e5e4e7;
  border-radius: 8px;
  font-size: 14px;
  padding-top: 8px;
  overflow: hidden;
  position: absolute;
  top: 45px;
  right: 0;
}

.user_menu hr {
  width: 100%;
  margin: 0;
  height: 1px;
  border: none;
  border-top: 1px solid #e5e4e7;
}

.user_menu_box {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 8px;
}

.user_menu_name {
  font-weight: 700;
}

.logout_button {
  padding: 12px;
  width: 100%;
  text-align: left;
}
.logout_button:hover {
  background-color: #e5e4e7;
}
