.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.markdown p,
.markdown ul,
.markdown li {
  line-height: 1.7;
}

.markdown a {
  color: var(--primary-color-3);
  font-weight: 500;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown code {
  background-color: rgba(175, 184, 193, 0.2);
  color: #000;
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

.markdown strong {
  font-weight: 700;
}

.markdown blockquote {
  padding: 0.5rem 1rem;
  border-left: 0.25em solid #d0d7de;
  background-color: rgba(175, 184, 193, 0.2);
}

.markdown blockquote,
.markdown blockquote p,
.markdown blockquote a {
  font-weight: 600;
}

.markdown table,
.markdown th,
.markdown td {
  border: 1px solid black;
}

.markdown th,
.markdown td {
  padding: 8px;
}

.markdown table {
  border-collapse: collapse;
}
.markdown th {
  background: #ea6153;
  color: #fff;
}

.markdown tbody tr:nth-of-type(odd) {
  background: #e9e9e9;
}
.markdown tbody tr:nth-of-type(even) {
  background: #fafbfb;
}
.markdown tbody tr:nth-of-type(odd):hover,
.markdown tbody tr:nth-of-type(even):hover {
  background-color: hsl(0, 0%, 80%);
}

@media (max-width: 767px) {
  .markdown h1 {
    font-size: 36px;
  }
  .markdown h2 {
    font-size: 28px;
  }
  .markdown h3 {
    font-size: 20px;
  }
  .markdown h4 {
    font-size: 18px;
  }
}
