.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.edit_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hide_id {
  display: none;
}
