.container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 400px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.container input {
  width: 100%;
  padding: 20px 16px;
  outline: 1px solid transparent;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.container input:focus {
  outline: 1px solid #a3a3a3;
}

.container button {
  border: none;
  outline: none;
  border-radius: 24px;
  width: 100%;
  padding: 16px;
  font-size: 14px;
  background-color: #000;
  color: #fff;
  margin-top: 0.5rem;
}

.container button:hover {
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
