.card {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 860px;
  overflow: hidden;
}

.separator {
  width: 100%;
  height: 1px;
  border: none;
  border-top: 1px solid #a5a4a4;
  margin: 0;
}

.card_preview {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.card_preview_text {
  display: grid;
  z-index: 1;
  padding: 8px 12px;
  width: 80%;
}

.card_article {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
}

.article_title {
  margin-bottom: 7px;
  -webkit-line-clamp: 1;
  color: #000;
  font-weight: 600;
  font-size: 28px;
}

.card:hover .article_title {
  text-decoration: underline 1.5px;
}

.article_body {
  -webkit-line-clamp: 3;
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.thumbnail {
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  overflow: hidden;
  position: relative;
}

.card_bottom {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 20px;
  padding: 8px 12px;
  line-height: 1.5;
}

.writer {
  display: flex;
  align-items: baseline;
  gap: 2px;
  color: #686a6c;
  font-size: 16px;
}

.writer span {
  font-size: 12px;
}

.writer b {
  margin-left: 2px;
}

.like {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.comment {
  display: flex;
  justify-content: center;
  gap: 2px;
  align-items: center;
}

.social {
  display: flex;
  gap: 10px;
  font-size: 12px;
  align-items: center;
}

@media (max-width: 767px) {
  .article_title {
    font-size: 18px;
  }

  .card_preview_text {
    padding: 0px 12px;
  }

  .article_body {
    margin: 1px;
  }

  .thumbnail {
    width: 105px;
    height: 105px;
  }

  .article_body {
    -webkit-line-clamp: 2;
  }

  .article_title {
    -webkit-line-clamp: 2;
  }
}
