.card {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 860px;
  overflow: hidden;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.card_preview {
  display: flex;
  justify-content: space-between;
}

.card_preview_text {
  z-index: 1;
  padding: 8px 12px;
  width: 80%;
}

.card_article {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
}

.article_title {
  margin-bottom: 7px;
  -webkit-line-clamp: 1;
  color: #000;
  font-weight: 600;
  font-size: 28px;
}

.card:hover .article_title {
  text-decoration: underline 1.5px;
}

.article_body {
  -webkit-line-clamp: 3;
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.thumbnail {
  display: flex;
  width: 130px;
  height: 130px;
  overflow: hidden;
  position: relative;
}

.card_bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 8px 12px;
  line-height: 1.5;
}

.writer {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #868e96;
  font-size: 16px;
}

.writer span {
  font-size: 11px;
}

.writer b {
  margin-left: 2px;
}

.like {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.comment {
  display: flex;
  justify-content: center;
  gap: 2px;
  align-items: center;
}

.social {
  display: flex;
  gap: 10px;
  font-size: 12px;
  align-items: center;
}
