.section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 100px 50px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 980px;
  gap: 20px;
}

.search {
  outline: none;
}

.search:focus {
  outline: 1px solid var(--primary-color-3);
}

@media (max-width: 767px) {
  .section {
    padding: 70px 25px;
  }

  .ul {
    width: inherit;
    gap: 12px;
  }

  .input_container {
    width: 100%;
  }
}
