.search_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input_container {
  position: relative;
  width: 50%;
}

.search_input {
  width: 100%;
  border-radius: 28px;
  padding: 16px 20px;
  outline: none;
  border: none;
}

.search_input:focus {
  outline: 1px solid var(--primary-color-3);
}

.search_icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.search_text {
  font-size: 24px;
  font-weight: 500;
  color: var(--gray);
}

.search_value {
  color: var(--primary-color-4);
  font-weight: 700;
}

@media (max-width: 767px) {
  .input_container {
    width: 100%;
  }
}
