.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
}

@media (max-width: 768px) {
  .wrapper {
    flex-wrap: nowrap;
    overflow-x: auto;
    /* Hide scrollbar */
    scrollbar-width: none;
  }
}
